@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

}

/*The CSS reset: every element, before and after*/
*,
*:before,
*:after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
/*also: normalize.css (better, but more advanced)*/

body {
    background-color: #A9D4D9;
    font-family:"Roboto", sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    font-family:"Noto Serif", serif;
    font-weight:bold;
    padding: .2em 0;
}

p {
    margin: 1em 0;
    line-height: 1.6em;
}

h2 {
    font-size: 1.4em;
}

header, nav, main, aside, footer {
    padding: 1.2em;
    border: 1px black solid;
}

header, footer {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #A9D4D9;

    /*the magic*/
    display: grid;

    /*fill space if needed*/
    width: 100vw;
    height: 100vh;

    grid-template-columns: 
    1fr  2fr  1fr;

    grid-template-areas: 
    "hd  hd  hd"
    "nv  nv  nv"
    "a1  mn  a2"
    "a1  mn  a2"
    "a1  mn  a2"
    "ft  ft  ft";
    /*put a dot in for a blank space (no tetris, unfortunately*/
}

header {
    grid-area: hd;
    background-color: #F4F6FA;
}

nav {
    grid-area: nv;
    background-color: #A9D4D9;
}

main {
    grid-area: mn;
    background-color: #F4F6FA;
    max-height: 100%;
}

#aside1 {
    grid-area: a1;
    background-color: #72A1A6;
}

#aside2 {
    grid-area: a2;
    background-color: #72A1A6;
}

footer {
    grid-area: ft;
    background-color: #CCD4D9;
}

nav ul {
    /*flexbox works, but it's not the best way to do overall layout*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    font-weight: bold;
}

a:link {
  color: #153638;
}

a:visited {
  color: #163538;
}

a:hover {
  color: #000000;
}

a:active {
  /*get all states for redundancy's sake*/
  color:#000000;
}

/*and now for the responsive portion*/

/*tablet*/
@media screen 
and (min-width: 641px)
and (max-width: 900px) {
    .container {
        grid-template-columns: 
        1fr 1fr;
        grid-template-areas: 
        "hd  hd"
        "nv  nv"
        "mn  mn"
        "a1  a2"
        "ft  ft";
    }
}

/*phone*/
@media screen 
and (max-width: 640px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:    
        "hd"
        "mn"
        "a1"
        "a2"
        "nv"
        "ft";
    }
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }
    /*big giant links for big giant sausage fingers*/
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 1px solid black;
        background: #A9D4D9;
    }
}