/*import fonts here*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
 font-family: 'Raleway', sans-serif;
 font-size: 16px;
}


h1, h2, h3 {
  font-family: 'Stack Sans Headline', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.25em;
  padding: 0.5em;
}

h2 {
  font-size: 1.8em;
  background-color: #cbdbd7;
  color: #193441;
  padding: 0.5em;
  margin: 1em;
  margin-top: 0em;
}

h3 {
  font-size: 1.4em;
  padding: 0.5em;
}

.skip-nav {
  position: absolute;
  transform: translateY(-200%);
}

.skip-nav {
  transition: transform 0.3s;
}

section {
 padding: 1em;
  margin: auto;
  background-color: #f5f5f5;
  color: #193441;
}

p {
  line-height: 1.8em;
  padding: 0.5em;
  margin: 0.5em 3em;
}

ol, ul {
  padding: 0.5em;
  margin: 0.5em 4em;
  line-height: 2em;
}

blockquote {
  background: white;
  padding: 2em;
  margin: 2em;
  line-height: 2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

nav ul li {
    list-style: none;
    font-family: "Inconsolata", sans-serif;
    font-size: 1.2em;
}

a:link {
  color: #193441;
}

a:visited {
  color: #353b3b;
}

a:hover {
  color: #355261;
}

a:active {
  /*get all states for redundancy's sake*/
  color:#355261;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-columns: 
    1fr;

    grid-template-areas: 
    "hd"
    "nv"
    "mn"
    "mn"
    "mn"
    "ft";
}

header {
  grid-area: hd;
  padding: 1em;
  background-color: #193441;
  color:#f5f5f5;
  place-content: center;
}

nav {
  grid-area: nv;
  padding: 0.5em;
  background-color: #f5f5f5;
}

main {
  grid-area: mn;
  max-height: 100%;
}

footer {
  grid-area: ft;
  text-align: center;
  padding: 0.5em;
  background-color: #193441;
  color:#f5f5f5;
}

nav ul {
    /*flexbox works, but it's not the best way to do overall layout*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
}

@media screen 
and (min-width: 641px)
and (max-width: 900px) {
    .container {
        grid-template-columns: 
    1fr;

    grid-template-areas: 
    "hd"
    "nv"
    "mn"
    "mn"
    "ft";
    }

    nav ul li a {
  padding: 0.8em 1.5em;
}

}

/*phone*/
@media screen 
and (max-width: 640px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:    
        "hd"
        "mn"
        "nv"
        "ft";
    }
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 1px solid black;
        background: #cbdbd7;
    }
}